*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
}
  
:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}
  
body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}
  

#container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}
  
.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}
  
button:hover {
    border-color: black;
    transform: scale(1.05);
}
  
#startTime {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#currentTime {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: white;
    padding: 1.75%;
    border-radius: 5px;
    font-weight: bolder;
    box-shadow: 0 0 10px 2px;
}

a {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: white;
    padding: 1.75%;
    border-radius: 5px;
    font-weight: bolder;
    box-shadow: 0 0 10px 2px;
}

a, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

a:hover {
    transform: scale(1.05);
}

#createDiv {
    font-weight: bolder;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: hsl(var(--hue), 100%, 50%);
    padding: 1.75%;
    border-radius: 5px;
    font-weight: bolder;
    margin: 5%;
    line-height: 3;
    color: white;
    border: 1px solid black, 100%, 30%;
}

li:hover {
    transform: scale(1.05);
    background-color: hsl(var(--hue), 100%, 65%);
}

label {
    margin-right: 10px;
}
input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}

#createP {
    font-weight: bolder;
    padding: 2%;
    font-size: 3rem;
}

#goBack, #clear {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}